<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form method=“post”>
        {% csrf_token %}
        <!-- First dropdown list -->
        <select id="car_select" name="car">
            <option value="">Select Car</option>
            {% for car in car_list %}
                <option value="{{ car.id }}">{{ car }}</option>
            {% endfor %}
        </select>

        <!-- Second dropdown list -->
        <div id="model_car_container">
            <select name="model_car">
                <option value="">Select Model</option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>

    <script>
        function updateModelCarDropdown(car_id) {
            const model_car_url = `/get-model-car-list/${car_id}`;
            fetch(model_car_url)
                .then(response => response.json())
                .then(model_cars => {
                    const model_car_select = document.getElementById("model_car");
                    model_car_select.innerHTML = "";
                    model_cars.forEach(model_car => {
                        model_car_select.append(`<option>${model_car["generation"]}</option>`);
                    });
                })
                .catch(err => console.error(err));
        }
        
        document
            .getElementById("car_select")
            .addEventListener("change", event => {
                updateModelCarDropdown(event.target.value);
            });
    </script>
</body>
</html>