{% extends 'webapp/base.html' %}
{% load static %}
{% load webapp_tags %}


{% block content %}
<!-- Hero-area -->
<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'webapp/img/cta2-background.jpg' %})"></div>
	<!-- /Backgound Image -->

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<ul class="hero-area-tree">
					<li><a href="{% url 'home' %}">Главная</a></li>
					<li>Контакты</li>
				</ul>
				<h1 class="white-text">Связаться с нами</h1>

			</div>
		</div>
	</div>

</div>
<!-- /Hero-area -->

<!-- Contact -->
<div id="contact" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<!-- contact form -->
			<div class="col-md-6">
				<div class="contact-form">
					<h4>Отправьте сообщение</h4>
					<form>
						<input class="input" type="text" name="name" placeholder="Имя">
						<input class="input" type="email" name="email" placeholder="Email">
						<input class="input" type="text" name="subject" placeholder="Тема письма">
						<textarea class="input" name="message" placeholder="Введите текст письма..."></textarea>
						<button class="main-button icon-button pull-right">Отправить</button>
					</form>
				</div>
			</div>
			<!-- /contact form -->

			<!-- contact information -->
			<div class="col-md-5 col-md-offset-1">
				<h4>Контактная информация</h4>
				<ul class="contact-details">
					<li><i class="fa fa-envelope"></i>volodyabuz@gmail.com</li>
					<li><i class="fa fa-phone"></i>+7-952-565-59-29</li>
					<li><i class="fa fa-map-marker"></i>Россия, г. Ростов-на-Дону, ул. Волкова, д. 5</li>
				</ul>

				<!-- contact map -->
				<div id="contact-map"></div>
					<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afdad463dac250ec8b742ff8fc27fd0f7862b6f1fd6096c2d517622a5c5dcbdc7&amp;source=constructor" width="460" height="270" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				<!-- /contact map -->

			</div>
			<!-- contact information -->

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Contact -->
{% endblock content %}
