{% extends 'webapp/base.html' %}
{% load static %}


{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'webapp/img/home-background.jpg' %})"></div>
	<!-- /Backgound Image -->

	<div class="home-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="white-text">API для владельцев Audi</h1>
					<p class="lead white-text">Узнать среднюю стоимость авто и отзывы о модели</p>
					<a class="main-button icon-button" href="#">Начать!</a>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<div class="col-md-6">
				<div class="section-header">
					<h2>Добро пожаловать!</h2>
					<p class="lead">Наш сайт позволяет узнать больше об интересуемой модели, ценах на рынке в РФ, а также пообщаться с единомышленниками.</p>
				</div>

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-flask"></i>
					<div class="feature-content">
						<h4>Анализ средней стоимости автомобиля</h4>
						<p>Вы можете узнать среднюю стоимость конкретной модели, а также следить за рынком и получать индивидуальные предложения по цене.</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-comments"></i>
					<div class="feature-content">
						<h4>Сообщество</h4>
						<p>Оставляйте отзывы, участвуйте в обсуждениях модели. Это поможет узнать больше о автомобиле и помочь при покупке.</p>
					</div>
				</div>
				<!-- /feature -->

			</div>

			<div class="col-md-6">
				<div class="about-img">
					<img src="{% static 'webapp/img/about.png' %}" alt="">
				</div>
			</div>

		</div>
		<!-- row -->

	</div>
	<!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">
			<div class="section-header text-center">
				<h2>Модели автомобилей</h2>
				<p class="lead">Ознакомьтесь с модельным рядом и поколениями</p>
			</div>
		</div>
		<!-- /row -->

		<!-- courses -->
		<div id="courses-wrapper">

			<!-- row -->
			<div class="row">

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'webapp/img/course01.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Beginner to Pro in Excel: Financial Modeling and Valuation</a>
						<div class="course-details">
							<span class="course-category">Business</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'webapp/img/course02.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Introduction to CSS </a>
						<div class="course-details">
							<span class="course-category">Web Design</span>
							<span class="course-price course-premium">Premium</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'webapp/img/course03.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">The Ultimate Drawing Course | From Beginner To Advanced</a>
						<div class="course-details">
							<span class="course-category">Drawing</span>
							<span class="course-price course-premium">Premium</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'webapp/img/course04.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">The Complete Web Development Course</a>
						<div class="course-details">
							<span class="course-category">Web Development</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

			</div>
			<!-- /row -->

		</div>
		<!-- /courses -->

		<div class="row">
			<div class="center-btn">
				<a class="main-button icon-button" href="#">Все модели</a>
			</div>
		</div>

	</div>
	<!-- container -->

</div>
<!-- /Courses -->

<!-- Call To Action -->
<div id="cta" class="section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'webapp/img/cta1-background.jpg' %})"></div>
	<!-- /Backgound Image -->

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<div class="col-md-6">
				<h2 class="white-text">Рассчитайте среднюю стоимость автомобиля</h2>
				<p class="lead white-text">Получайте рассылку об интересных предложениях на рынке РФ.</p>
				<a class="main-button icon-button" href="#">Рассчитать</a>
			</div>

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Call To Action -->

<!-- Why us -->
<div id="why-us" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<div class="col-md-6">
				<h3>Persius imperdiet incorrupte et qui, munere nusquam et nec.</h3>
				<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
				<p>No vel facete sententiae, quodsi dolores no quo, pri ex tamquam interesset necessitatibus. Te denique cotidieque delicatissimi sed. Eu doming epicurei duo. Sit ea perfecto deseruisse theophrastus. At sed malis hendrerit, elitr deseruisse in sit, sit ei facilisi mediocrem.</p>
			</div>

			<div class="col-md-5 col-md-offset-1">
				<a class="about-video" href="#">
					<img src="{% static 'webapp/img/about-video.jpg' %}" alt="">
					<i class="play-icon fa fa-play"></i>
				</a>
			</div>

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Why us -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'webapp/img/cta2-background.jpg' %})"></div>
	<!-- Backgound Image -->

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="white-text">Свяжитесь с нами</h2>
				<p class="lead white-text">Вопросы и предложения с удовольствием рассмотрим, мы открыты для общения!</p>
				<a class="main-button icon-button" href="#">Связаться</a>
			</div>

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Contact CTA -->
{% endblock content %}